@charset "UTF-8";

/* 전체 레이아웃 */

#header {
    background-color: #fff;
    border-bottom: 1px solid #c6c6c6;
}
#hamNav {
    display: none;
    position: absolute; top: 6px; right: 14px;
}
#banner {position: relative;}
#banner_slide {z-index: 1;}
#banner_menu {
    position: absolute; left: 0; top: 20px;
    width: 100%;
    z-index: 2;
}
#movie_list {background-color: #f8f8f8;}
#mega_event {}
#mega_opening {}
#new {}
#bulletin {}

/* 컨테이너 레이아웃 */
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

/* row 레이아웃 */
.row {padding: 0 28px;}

/* 모바일 햄버거 메뉴 */
.ham {
    display: block; width: 35px; height: 28px; padding: 10px 7px;
}
.ham span {
    display: block; width: 25px; height: 4px; margin: 4px auto;
    background-color: #39106a;
}

/* header 레이아웃 */
.header {}
.header h1 {float: left;}
.header h1 a {}
.header h1 a img.logo {
    display: inline-block;
    width: 155px;
    padding: 15px 8px 5px 0;
}
.header h1 a img.logo-sub {
    position: absolute; left: 194px; top: 24px;
    width: 123px;
}
.header .header_nav {
    float: right;
}
.header .header_nav ul {
    border-left: 1px solid #c6c6c6;
}
.header .header_nav ul li {
    float: left;
    width: 103px;
    border-right: 1px solid #c6c6c6;
    text-align: center;
}
.header .header_nav ul li a {
    display: inline-block;
    padding: 19px 10px;
    font-size: 17px; font-weight: 600; color: #444;
}

/* banner 레이아웃 */

.banner_slide {}
.banner_slide .swiper-container {width: 100%; height: 600px;}
.banner_slide .swiper-slide.ss1 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.banner_slide .swiper-slide.ss2 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.banner_slide .swiper-slide.ss3 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.banner_slide .swiper-slide .movie_description {
    z-index: 3;
    margin-top: 200px;
}
.banner_slide .swiper-slide .movie_description h2 {
    display: inline-block; 
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.banner_slide .swiper-slide strong {
    display: block;
    font-size: 62px; color: white; font-weight: normal;
}
.banner_slide .swiper-slide em {
    display: block; margin-top: -15px; padding-bottom: 30px;
    font-size: 59px; color: white; font-weight: 100; letter-spacing: normal;
}
.banner_slide .swiper-slide p {
    padding-top: 20px;
    font-size: 27px; color: white;
}


.banner_menu ul li.line {
    position: relative;
}
.banner_menu ul li.line::after {
    content: '';
    position: absolute; right: -18px; top: 5px;
    width: 1px; height: 16px; background-color: #fff;
}
.banner_menu ul li a {
    font-size: 16px; color: white;
    transition: all 0.3s ease;
}
.banner_menu ul li a:hover {
    color: #c1c1c1;
}

.banner_menu .menu_left {float: left; margin-top: 7px;}
.banner_menu .menu_left ul li {
    display: inline-block; margin-right: 30px;
}
.banner_menu .menu_left ul li.total {
    margin-right: 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.banner_menu .menu_left ul li.total a {
    display: inline-block; padding: 3px 7px;
    font-size: 14px;
}
.banner_menu .menu_left ul li.total a:hover {
    background: #fff; border-color: #000; color: #000;
}

.banner_menu .menu_right {float: right;}
.banner_menu .menu_right ul {display: inline-block;}
.banner_menu .menu_right ul li {
    display: inline-block; margin-right: 30px;
}
.banner_menu .menu_right ul li:last-child {
    margin-right: 15px;
}
.banner_menu .menu_right ul li.box {
    margin-right: 10px;
    text-align: center;
}
.banner_menu .menu_right ul li.box:last-child {
    margin-right: 0;
}
.banner_menu .menu_right ul li.box a {
    display: inline-block; width: 80px; padding: 7px 30px 9px 30px;
}
.banner_menu .menu_right ul li.box.white_purple {
    border: 1px solid rgb(206, 206, 206);
    background-color: #fff;
}
.banner_menu .menu_right ul li.box.white_purple a {
    color: #3a0e6a;
}
.banner_menu .menu_right ul li.box.purple_white {
    border: 1px solid #6e40c4;
    background-color: #3a0e6a;
}
.banner_menu .menu_right ul li.box.purple_white a {
    color: #fff;
}

/* 대표 영화 목록 */
.movie_list {
    position: relative;
    padding: 100px 0;
    text-align: center;
}
.movie_list .list_title {margin-bottom: 60px;}
.movie_list .list_title ul {overflow: hidden; margin: 0 auto; display: inline-block; background-color: #fff;}
.movie_list .list_title ul li {
    float: left;
    border-top: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}
.movie_list .list_title li a {
    display: block; width: 210px; padding: 15px 0;
    font-size: 18px; font-weight: 600; color: #666666; text-align: center;
}
.movie_list .list_title li:first-child a {
    border-left: 1px solid #c6c6c6;
}
.movie_list li.active a {
    background-color: #666666;
    color: white;
}

.movie_chart {overflow: hidden; position: relative; z-index: 20;}
.movie_chart .poster {
    position: relative;
    float: left;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
}
.movie_chart .poster img {display: block;}
.movie_chart .poster:nth-child(4n) {
    margin-right: 0;
}
.movie_chart .swiper-slide:after {opacity: 0;}
.movie_chart .poster .rank {
    position: absolute; left: 3px; top: 20px;
    width: 50px; height: 50px;
    background-color: #38116a;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
}
.movie_chart .poster .rank strong {
    line-height: 50px; font-size: 25px; color: #fff;
    text-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
}

.movie_chart .poster .mx_boutique {
    position: absolute; right: 5px; top: 17px;
}
.movie_chart .poster .mx_boutique span {
    display: block; width: 103px; height: 25px;
}
.movie_chart .poster .mx_boutique span.m {background-position: 0 -75px;}
.movie_chart .poster .mx_boutique span.b {background-position: 0 -100px;}

.movie_chart .poster .info {padding: 17px; background-color: #fff;}
.movie_chart .poster .info h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px; font-weight: 700; color: #333333;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.movie_chart .poster .info h3 span {
    float:left; width: 29px; height: 29px; margin-top: 9px; margin-right: 5px;
    vertical-align: -2px;
}
.movie_chart .poster .info h3 span.a12 {background-position: 0px -125px;}
.movie_chart .poster .info h3 span.a15 {background-position: -29px -125px;}
.movie_chart .poster .info h3 span.a19 {background-position: -58px -125px;}
.movie_chart .poster .info h3 span.all {background-position: -87px -125px;}

.movie_chart .poster .info_btn {overflow: hidden;}
.movie_chart .poster .info_btn li {
    float: left; width: 50%;
}
.movie_chart .poster .info_btn li a {
    display: block; box-sizing: border-box; margin-right: 5px;
    padding: 17px 10%;
    background-color: #f2f2f2;
    font-size: 18px;
}
.movie_chart .poster .info_btn li:last-child a {
    margin-right: 0;
}

/* 이벤트 레이아웃 */
.mega_event {padding-bottom: 100px;}
.mega_event h2 {
    padding-top: 80px; padding-bottom: 25px;
    font-size: 30px; letter-spacing: -1px;
}
.mega_event img {display: block;}
.mega_event .left_side {float: left; width: 66%; margin-right: 2%;}
.mega_event .left_side figure.first {float: left; width: 100%;}
.mega_event .left_side figure.second {float: left; width: 50%;}
.mega_event .left_side figure.third {float: left; width: 50%;}
.mega_event .right_side {float: left; width: 32%;}

/* 오프닝 레이아웃 */
.mega_opening {
    width: 100%; padding: 100px 0; margin-top: 20px;
    background: url(../img/bg01.jpg) center center;
    background-size: cover;
}
.mega_opening h2 {
    width: 330px; height: 50px; margin: 0 auto;
    background-position: 0 -175px;
}
.mega_opening strong {
    width: 260px; height: 45px; margin: 0 auto;
    background-position: 0 -225px;
}
.mega_opening .desc {
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center; font-size: 35px; color: #BB9B51;
}
.mega_opening .line img {
    display: block;
    width: 95%; height: 4px;
    margin: 0 auto;
}
.mega_opening .new_place {text-align: center;}
.mega_opening .new_place>div {
    display: inline-block;
    width: 23%;
    margin-right: 6%;
}
.mega_opening .new_place>div:last-child {margin-right: 0;}
.mega_opening .new_place h3 {
    display: inline-block;
    margin-bottom: -24px; padding: 10px 30px;
    background-color: #551e9b;
    border: 1px solid #575757;
    font-size: 19px; font-weight: 500; color: white;
}
.mega_opening .new_place p {
    border: 1px solid #575757;
    padding: 35px 0 25px;
    background-color: rgba(0,0,0,0.5);
    font-size: 23px; font-weight: 700; line-height: 43px; color: white;
}

/* 새로운 영화 레이아웃 */
.new {padding: 100px 0;}
.new h2 {
    margin-bottom: 20px;
    font-size: 30px; font-weight: 500;
}
.new .new_movie {position: relative;}
.new .new_left {
    position: relative;
    height: 500px; margin-right: 423px;
    background: #ccc url(../img/new01.jpg) center center; background-size: cover;
}
.new .new_left .play {
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
    width: 120px; height: 120px;
}
.new .new_left .play .st0 {fill: #fff; opacity: 0.3}
.new .new_left .play .st1 {fill: #fff;}

.new .new_right {
    position: absolute; right: 0; top: 0;
    width: 400px; height: 500px;
    padding: 34px; box-sizing: border-box;
    background: #f0f0f0;
}
.new .new_right .title {font-size: 28px; font-weight: 500; color: black;}
.new .new_right .release {font-size: 12px; color: #333;}
.new .new_right .star {padding: 13px 0;}
.new .new_right .star strong {
    padding-left: 5px;
    font-size: 15px;
}
.new .new_right .star span {display: inline-block; width: 20px; height: 20px; vertical-align: -3px;}
.new .new_right .star .star0 {background-position: -374px 0;}
.new .new_right .star .star1 {background-position: -393px 0;}
.new .new_right .star .star2 {background-position: -412px 0;}

.new .new_right .summary {font-size: 14px;}
.new .new_right .summary .bar {position: relative;}
.new .new_right .summary .bar::after {
    content: '';
    display: inline-block; width: 1px; height: 15px;
    vertical-align: -3px;
    background-color: #838282;
    margin: 0 10px;
}
.new .new_right .genre {padding-bottom: 3px;}
.new .new_right .age {padding-bottom: 10px;}
.new .new_right .desc {
    overflow: hidden;
    height: 108px; margin-bottom: 20px; 
}

.new .new_right .select {overflow: hidden;}
.new .new_right .select .s1 {
    float: left;
    width: 49%; margin-right: 2%;
}
.new .new_right .select .s2 {
    float: left;
    width: 49%;
}
.new .new_right .select .s3 {
    float: left;
    width: 100%;
    margin-top: 2%;
}

.new .new_right .btn {
    overflow: hidden;
    margin-top: 2%;
    text-align: center;
}
.new .new_right .btn button {
    float: left;
    display: block; width: 49%;
    box-sizing: border-box; padding: 10px 30px 12px 30px;
}
.new .new_right .btn button.white {
    margin-right: 2%;
    border: 1px solid #3a0e6a;
    background-color: #fff;
    color: #3a0e6a;
}
.new .new_right .btn button.purple {
    border: 1px solid #6e40c4;
    background-color: #3a0e6a;
    color: #fff;
}

/* 게시판 레이아웃 */
.bulletin {}

/* 공지사항 레이아웃 */
.notice {
    float: left;
    width: 32%; margin-right: 2%;
    padding-bottom: 50px;
}
.notice h2 {
    margin-bottom: 20px;
    font-size: 30px; font-weight: 500;
}
.notice .notice_content {
    position: relative;
    padding: 17px 17px 325px;
    border: 1px solid #dbdbdb;
}
.notice .all {}
.notice .cinema {}

.notice .title {
    float: left;
    display: block;
}
.notice .title h3 {
    width: 80px;
    padding: 10px 20px;
    border: 1px solid #dbdbdb;
    background-color: #f5f5f5;
    font-size: 15px; color: #666; text-align: center;
}
.notice .active .title h3 {
    background-color: #fff;
}

.notice .notice_list {
    position: absolute; top: 70px; left: 20px;
    width: 90%;
}
.notice .cinema .notice_list {display: none;}
.notice .notice_list li {
    padding: 17px;
    border-bottom: 1px solid #dbdbdb;
}
.notice .notice_list li:last-child {border-bottom: 0;}
.notice .notice_list li strong {color: #222222;}
.notice .notice_list li strong::after {
    content: '';
    display: inline-block; width: 1px; height: 13px;
    margin: 0 3px 0 8px;
    background-color: #8b8b8b;
    vertical-align: -2px;
}
.notice .notice_list li em {color: #666666;}
.notice .notice_list li p {
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    padding-top: 5px;
    color: #333333;
}

/* 할인카드 레이아웃 */
.card {
    float: left;
    width: 32%; margin-right: 2%;
    padding-bottom: 50px;
}
.card h2 {
    margin-bottom: 20px;
    font-size: 30px; font-weight: 500;
}
.card .card_content {
    position: relative;
    max-height: 388px;
    box-sizing: border-box; padding: 17px;
    border: 1px solid #dbdbdb;
}
.card .card_content .card_list {}
.card .card_content .card_list li {
    position: relative;
    min-height: 106px;
    box-sizing: border-box; padding: 17px 17px 24px; margin-bottom: 17px;
    border: 1px solid #dbdbdb;
}
.card .card_content .card_list li:last-child {margin-bottom: 3px;}
.card .card_content .card_list li a {}
.card .card_content .card_list li a img {
    position: absolute; top: 17px; left: 17px;
    display: block;
    width: 115px;
}
.card .card_content .card_list li a .card_desc {
    margin-left: 130px;
}
.card .card_content .card_list li a .card_desc strong {
    font-size: 16.5px; color: #666666;
}
.card .card_content .card_list li a .card_desc p {
    font-size: 13px;
}

/* 고객센터 레이아웃 */
.customer {
    float: left;
    width: 32%; margin-right: 0%;
    padding-bottom: 50px;
}
.customer h2 {
    margin-bottom: 20px;
    font-size: 30px; font-weight: 500;
}
.customer .customer_content {
    border: 1px solid #dbdbdb;
}
.customer .customer_content ul li {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.customer .customer_content ul li.customer1 {border-bottom: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb;}
.customer .customer_content ul li.customer2 {border-bottom: 1px solid #dbdbdb;}
.customer .customer_content ul li.customer3 {border-right: 1px solid #dbdbdb;}
.customer .customer_content ul li.customer4 {}

.customer .customer_content ul li a {
    display: block;
    padding: 22.5px 17px;
    text-align: center;
}
.customer .customer_content ul li a span {
    display: block; width: 120px; height: 120px;
    margin: 0 auto;
}
.customer .customer_content ul li a strong {
    font-size: 18px; font-weight: 500; color: #666;
}

/* 반응형 media query */
/* width : 0 ~ 1280px */
@media (max-width:1285px){
    .container {width: 100%;}

    /* 헤더 반응형 */
    .header .header_nav ul li {width: 93px;}
    .header .header_nav ul li a {font-size: 15px; padding-top: 17px;}
    .header h1 a img.logo {padding-top: 13.5px; padding-right: 0;}
    .header h1 a img.logo-sub {top: 23px;}

    /* 배너 반응형 */
    .banner_slide .swiper-button-next, .banner_slide .swiper-button-prev {display: none;}
}

/* width : 0 ~ 1024px */
@media (max-width:1024px){
    .row {padding: 0 24px;}

    /* 헤더 반응형 */
    .header h1 {float: none; text-align: center;}
    .header h1 a img.logo {padding-bottom: 9.5px;}
    .header h1 a img.logo-sub {
        position: absolute; left: 26px; top: 23px;
        width: 123px;
    }
    #hamNav {display: block;}
    .header .header_nav {display: none;}    

    /* 배너 반응형 */
    .banner_menu .menu_right ul:first-child {display: none;}
    .banner_menu .menu_left {display: none;}

    /* 헬프영역 반응형 */
    .notice {width: 48%; margin-right: 2%;}
    .card {width: 48%; margin-right: 0%;}
    .card .card_content .card_list li a .card_desc {margin-top: 3px;}
    .customer {width: 100%;}
    .customer h2 {display: none;}
    .customer .customer_content ul li {width: 25%;}
    .customer .customer_content ul li.customer1, .customer .customer_content ul li.customer2, .customer .customer_content ul li.customer3 {border: 0;}
}

/* width : 0 ~ 960px */
@media (max-width:960px){
    /* 배너 반응형 */
    .banner_slide .swiper-container {height: 400px;}
    .banner_slide .swiper-slide .movie_description {margin-top: 170px;}
    .banner_slide .swiper-slide strong {font-size: 37px;}
    .banner_slide .swiper-slide em {font-size: 34px; margin-top: -10px; padding-bottom: 10px;}
    .banner_slide .swiper-slide p {font-size: 16px;}

    /* movie title_list 반응형 */
    .movie_list .list_title ul {
        overflow: hidden;
        display: block;
    }
    .movie_list .list_title ul li {
        float: left;
        width: 24.7%;
    }
    .movie_list .list_title li a {
        width: 100%; box-sizing: border-box;
    }
    
    /* 오프닝 레이아웃 반응형 */
    .mega_opening {padding: 50px 0;}
    .mega_opening .desc {font-size: 25px;}
    .mega_opening .line img {display: none;}
    .mega_opening .new_place {display: none;}

    /* new movie 레이아웃 반응형 */
    .new .new_left {
        width: 100%; height: 400px;
        margin-right: 0;
    }
    .new .new_right {
        position: static;
        width: 100%; height: auto;
    }
    .new .new_right .desc {
        height: auto;
    }
}

/* width : 0 ~ 768px */
@media (max-width:768px){
    .row {padding: 0 16px;}

    /* 헤더 반응형 */
    .header h1 {text-align: left;}
    .header .header_nav {display: none;}
    .header h1 a img.logo-sub {display: none;}
    #hamNav {right: 6px;}

    /* movie_list 반응형 */
    #movie_list {background-color: #d9d7e0;}
    body{background-color: #d9d7e0;}
    #movie_list .row {margin: 24px; padding: 24px; background-color: #fff;}
    
    .movie_list {
        position: relative;
        padding: 0;
    }
    .movie_list h2.ir_so {
        position: static; overflow: visible;
        display: block; width: 100%; height: 30px; margin-bottom: 20px;
        text-indent: 0; line-height: 25px; font-size: 25px; font-weight: 700; white-space: -7px;
        text-align: left;
    }
    .movie_list .list_title {margin-bottom: 40px;}
    .movie_list .list_title ul {
        position: relative;
        margin: 0; padding-bottom: 10px;
    }
    .movie_list .list_title ul::after {
        position: absolute; left: 0; bottom: 0;
        content: '';
        display: block; width: 100%; height: 2px;
        background-color: #e1e1e1;
        z-index: 4;
    }
    .movie_list .list_title ul li {
        width: auto;
        border: 0; margin-right: 30px;
    }
    .movie_list .list_title li:first-child a {border-left: 0;}
    .movie_list .list_title li a {
        position: relative;
        display: block; padding: 0;
        font-weight: normal; text-align: left;
    }
    .movie_list .list_title li a::after {
        position: absolute; left: 0; bottom: -10px;
        content: '';
        display: none; width: 100%; height: 2px;
        background-color: #424242;
        z-index: 5;
    }
    .movie_list .list_title li:last-child {margin-right: 0;}
    .movie_list li.active a {
        background-color: #fff;
        color: #666666;
    }
    .movie_list .list_title li.active a::after {
        display: block;
    }

    /* 이벤트 레이아웃 반응형 */
    .mega_event {background-color: #fff; padding-bottom: 30px;}
    .mega_event h2 {
        padding-top: 0;
        font-size: 25px; font-weight: 500;
    }
    #mega_event .row {margin: 24px; padding: 24px; background-color: #fff;}
    .mega_event .left_side {width: 100%;}
    .mega_event .right_side {float: none;}
    .mega_event .right_side .first {display: none;}

    /* 오프닝 레이아웃 반응형 */
    .mega_opening .desc {font-size: 20px;}

    /* new movie 레이아웃 반응형 */
    #new .row {margin: 24px; padding: 24px; background-color: #fff;}
    .new {padding: 0;}
    .new h2 {
        margin-bottom: 15px; padding-bottom: 10px;
        font-size: 25px; font-weight: 500;
    }

    /* 헬프영역 반응형 */
    #bulletin .row {margin: 24px; padding: 0;}
    .notice {
        float: none;
        width: 100%;
        box-sizing: border-box; padding: 24px; margin-bottom: 24px;
        background-color: #fff;
    }
    .notice h2 {
        margin-bottom: 15px; padding-bottom: 10px;
        font-size: 25px; font-weight: 500;
    }
    .card {
        float: none;
        width: 100%;
        box-sizing: border-box; padding: 24px; margin-bottom: 24px;
        background-color: #fff;
    }
    .card h2 {
        margin-bottom: 15px; padding-bottom: 10px;
        font-size: 25px; font-weight: 500;
    }
    .customer {
        float: none;
        box-sizing: border-box;
        padding: 0 24px;
        background-color: #fff;
    }
    .customer .customer_content {border: 0;}
    .customer .customer_content ul li a strong {font-size: 15px;}
}

/* width : 0 ~ 600px */
@media (max-width:600px){

    /* 배너 반응형 */
    .banner_slide .swiper-container {height: 300px;}
    .banner_menu .menu_right ul:last-child li.box {
        margin-right: 10px;
        border: 1px solid #fff;
        background-color: rgba(0,0,0,0.5);
        transition: all 0.3s ease;
    }
    .banner_menu .menu_right ul:last-child li.box:last-child {margin-right: 0;}
    .banner_menu .menu_right ul:last-child li.box a {
        padding: 4px 6px;
        font-size: 14px; color: white;
    }
    .banner_menu .menu_right ul:last-child li.box a:hover {
        background: #fff; border-color: #000; color: #000;
    }

    .banner_slide .swiper-slide .movie_description {margin-top: 140px;}
    .banner_slide .swiper-slide strong {font-size: 24px;}
    .banner_slide .swiper-slide em {font-size: 21px; margin-top: -5px; padding-bottom: 5px;}
    .banner_slide .swiper-slide p {font-size: 14px;}

    /* movie_list 반응형 */
    #movie_list .row {
        position: relative;
        margin: 8px 0 8px 8px; padding: 16px 0 16px 16px;
        background-color: #fff;
    }
    #movie_list .row::after {
        content :''; width: 8px; height: 100%;
        position: absolute; top: 0; right: 0; z-index: 10;
        background-color: #d9d7e0;
    }
    .movie_list h2.ir_so {
        margin-bottom: 5px;
        line-height: 15px; font-size: 15px;
    }
    .movie_list .list_title {margin-bottom: 20px;}
    .movie_list .list_title ul {margin-right: 30px; box-sizing: border-box;}
    .movie_list .list_title ul li {margin-right: 17px}
    .movie_list .list_title ul li a {font-size: 14px;}

    .movie_chart .poster .info {background-color: #fff;}
    .movie_chart .poster .info h3 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 15px; font-weight: 700; color: #333333;
    }
    .movie_chart .poster .info h3 span {display: none;}

    .movie_chart .poster .info_btn li {
        float: none;
        width: 80px; margin: 0 auto;
    }
    .movie_chart .poster .info_btn li:nth-child(2) {display: none;}
    .movie_chart .poster .info_btn li a {
        margin-right: 0;
        padding: 5px 3%;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #c6c6c6;
    }
    
    /* 이벤트 레이아웃 반응형 */
    #mega_event .row {margin: 8px; padding: 16px;}
    .mega_event h2 {font-size: 15px; font-weight: 600; letter-spacing: normal;}

    /* 오프닝 레이아웃 반응형 */
    .mega_opening {padding: 20px 0; margin-top: 8px;}
    .mega_opening h2 {width: 197px; height: 24px; background-size: 300px; background-position: 0 -105px;}
    .mega_opening strong {display: none;}
    .mega_opening .desc {padding-bottom: 0; font-size: 15px;}

    /* new movie 레이아웃 반응형 */
    #new .row {margin: 8px; padding: 16px;}
    .new .new_left {height: 200px;}
    .new h2 {font-size: 15px; font-weight: 600; letter-spacing: normal;}
    .new .new_right .title {font-size: 22px;}
    .new .new_right .select .s1 {width: 100%;}
    .new .new_right .select .s2 {width: 100%; margin-top: 2%;}

    /* 헬프영역 반응형 */
    #bulletin .row {margin: 8px;}
    .notice {padding: 16px; margin-bottom: 8px;}
    .card {padding: 16px; margin-bottom: 8px;}
    .customer {padding: 0;}

    .notice h2 {font-size: 15px; font-weight: 600; letter-spacing: normal;}
    .card h2 {font-size: 15px; font-weight: 600; letter-spacing: normal;}

    .customer .customer_content ul li {width: 50%;}
    .customer .customer_content ul li.customer1 {border-bottom: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb;}
    .customer .customer_content ul li.customer2 {border-bottom: 1px solid #dbdbdb;}
    .customer .customer_content ul li.customer3 {border-right: 1px solid #dbdbdb;}

    .customer .customer_content ul li a {padding: 15px 17px;}
    .customer .customer_content ul li a span {width: 70px; height: 70px;}
}

/* width : 0 ~ 480px */
@media (max-width:480px){

    /* movie_list 레이아웃 반응형 */
    .movie_list .list_title ul li {width: 52px; margin-right: 6px}
    .movie_list .list_title ul li a {font-size: 11px;}

    /* movie_list rank 반응형 */
    .movie_chart .poster .rank {
        width: 30px; height: 30px;
    }
    .movie_chart .poster .rank strong {
        line-height: 30px; font-size: 18px;
    }

    /* new movie 레이아웃 반응형 */
    .new .new_right .summary .desc {
        height: 108px;
    }
}

/* width : 0 ~ 320px */
@media (max-width:320px){
    .movie_list .list_title ul li {margin-right: 6px}
    .movie_list .list_title ul li a {font-size: 9px;}
}