@charset "UTF-8";

/* 전체 레이아웃 */
#header {
    background-color: #fff;
    border-bottom: 1px solid #c6c6c6;
}
#hamNav {
    display: none;
    position: absolute; top: 6px; right: 14px;
}
#banner {position: relative;}
#banner_slide {z-index: 1;}
#banner_menu {
    position: absolute; left: 0; top: 20px;
    width: 100%;
    z-index: 2;
}
#movie_list {}

/* 컨테이너 레이아웃 */
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    /*background-color: rgba(0,0,0,0.1);*/
}

/* row 레이아웃 */
.row {padding: 0 28px;}

/* 모바일 햄버거 메뉴 */
.ham {
    display: block; width: 35px; height: 28px; padding: 10px 7px;
}
.ham span {
    display: block; width: 25px; height: 4px; margin: 4px auto;
    background-color: #39106a;
}

/* header 레이아웃 */
.header {}
.header h1 {float: left;}
.header h1 a {}
.header h1 a img.logo {
    display: inline-block;
    width: 155px;
    padding: 15px 8px 5px 0;
}
.header h1 a img.logo-sub {
    position: absolute; left: 194px; top: 24px;
    width: 123px;
}
.header .header_nav {
    float: right;
}
.header .header_nav ul {
    border-left: 1px solid #c6c6c6;
}
.header .header_nav ul li {
    float: left;
    width: 103px;
    border-right: 1px solid #c6c6c6;
    text-align: center;
}
.header .header_nav ul li a {
    display: inline-block;
    padding: 19px 10px;
    font-size: 17px; font-weight: 600; color: #444;
}

/* banner 레이아웃 */

.banner_slide {}
.banner_slide .swiper-container {width: 100%; height: 600px;}
.banner_slide .swiper-slide.ss1 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.banner_slide .swiper-slide.ss2 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.banner_slide .swiper-slide.ss3 {background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.banner_slide .swiper-slide .movie_description {
    z-index: 3;
    margin-top: 200px;
}
.banner_slide .swiper-slide .movie_description h2 {
    display: inline-block; 
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.banner_slide .swiper-slide strong {
    display: block;
    font-size: 62px; color: white; font-weight: normal;
}
.banner_slide .swiper-slide em {
    display: block; margin-top: -15px; padding-bottom: 30px;
    font-size: 59px; color: white; font-weight: 100; letter-spacing: normal;
}
.banner_slide .swiper-slide p {
    padding-top: 20px;
    font-size: 27px; color: white;
}


.banner_menu ul li.line {
    position: relative;
}
.banner_menu ul li.line::after {
    content: '';
    position: absolute; right: -18px; top: 5px;
    width: 1px; height: 16px; background-color: #fff;
}
.banner_menu ul li a {
    font-size: 16px; color: white;
    transition: all 0.3s ease;
}
.banner_menu ul li a:hover {
    color: #c1c1c1;
}

.banner_menu .menu_left {float: left; margin-top: 7px;}
.banner_menu .menu_left ul li {
    display: inline-block; margin-right: 30px;
}
.banner_menu .menu_left ul li.total {
    margin-right: 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.banner_menu .menu_left ul li.total a {
    display: inline-block; padding: 3px 7px;
    font-size: 14px;
}
.banner_menu .menu_left ul li.total a:hover {
    background: #fff; border-color: #000; color: #000;
}

.banner_menu .menu_right {float: right;}
.banner_menu .menu_right ul {display: inline-block;}
.banner_menu .menu_right ul li {
    display: inline-block; margin-right: 30px;
}
.banner_menu .menu_right ul li:last-child {
    margin-right: 15px;
}
.banner_menu .menu_right ul li.box {
    margin-right: 10px;
    text-align: center;
}
.banner_menu .menu_right ul li.box:last-child {
    margin-right: 0;
}
.banner_menu .menu_right ul li.box a {
    display: inline-block; width: 80px; padding: 7px 30px 9px 30px;
}
.banner_menu .menu_right ul li.box.white_purple {
    border: 1px solid rgb(206, 206, 206);
    background-color: #fff;
}
.banner_menu .menu_right ul li.box.white_purple a {
    color: #3a0e6a;
}
.banner_menu .menu_right ul li.box.purple_white {
    border: 1px solid #6e40c4;
    background-color: #3a0e6a;
}
.banner_menu .menu_right ul li.box.purple_white a {
    color: #fff;
}

/* 대표 영화 목록 */
.movie_list {
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.movie_list .list_title {margin-bottom: 60px;}
.movie_list .list_title ul {overflow: hidden; margin: 0 auto; display: inline-block;}
.movie_list .list_title ul>li {float: left;}
.movie_list .list_title li {
    border-top: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    
}
.movie_list .list_title li a {
    display: block; width: 210px; padding: 15px 0;
    font-size: 18px; font-weight: 600; color: #666666; text-align: center;
}
.movie_list .list_title li:first-child a {
    border-left: 1px solid #c6c6c6;
}
.movie_list li.active a {
    background-color: #666666;
    color: white;
}

.movie_chart {overflow: hidden;}
.movie_chart .poster {
    position: relative;
    float: left;
    width: 292px;
    margin-right: 16px;
    border: 1px solid #c6c6c6;
}
.movie_chart .poster img {display: block;}
.movie_chart .poster:nth-child(4n) {
    margin-right: 0;
}

.movie_chart .poster .rank {
    position: absolute; left: 3px; top: 20px;
    width: 50px; height: 50px;
    background-color: #38116a;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
}
.movie_chart .poster .rank strong {
    line-height: 50px; font-size: 25px; color: #fff;
}

.movie_chart .poster .mx_boutique {
    position: absolute; right: 17px; top: 17px;
}
.movie_chart .poster .mx_boutique span {
    display: block; width: 103px; height: 25px;
}
.movie_chart .poster .mx_boutique span.m {background-position: 0 -75px;}
.movie_chart .poster .mx_boutique span.b {background-position: 0 -100px;}

.movie_chart .poster .info {padding: 17px;}
.movie_chart .poster .info h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px; font-weight: 700; color: #333333;
}
.movie_chart .poster .info h3 span {
    display: inline-block; width: 29px; height: 29px; margin-top: 9px; margin-right: 5px;
    vertical-align: -2px;
}
.movie_chart .poster .info h3 span.all {background-position: -87px -125px;}
.movie_chart .poster .info h3 span.a12 {background-position: -58px -125px;}
.movie_chart .poster .info h3 span.a15 {background-position: 0px -125px;}
.movie_chart .poster .info h3 span.a19 {background-position: -29px -125px;}

.movie_chart .poster .info_btn {}
.movie_chart .poster .info_btn li {display: inline-block;}
.movie_chart .poster .info_btn li a {
    display: inline-block; padding: 15px 30px;
    background-color: #f2f2f2;
    font-size: 18px;
}


/* 반응형 media query */
/* width : 0 ~ 1280px */
@media (max-width:1285px){
    .container {width: 100%;}

    /* 헤더 반응형 */
    .header .header_nav ul li {width: 93px;}
    .header .header_nav ul li a {font-size: 15px; padding-top: 17px;}
    .header h1 a img.logo {padding-top: 13.5px; padding-right: 0;}
    .header h1 a img.logo-sub {top: 23px;}

    /* 배너 반응형 */
    .banner_slide .swiper-button-next, .banner_slide .swiper-button-prev {display: none;}
}

/* width : 0 ~ 1024px */
@media (max-width:1024px){
    .row {padding: 0 24px;}

    /* 헤더 반응형 */
    .header h1 {float: none; text-align: center;}
    .header h1 a img.logo {padding-bottom: 9.5px;}
    .header h1 a img.logo-sub {
        position: absolute; left: 26px; top: 23px;
        width: 123px;
    }
    #hamNav {display: block;}
    .header .header_nav {display: none;}    

    /* 배너 반응형 */
    .banner_menu .menu_right ul:first-child {display: none;}
    .banner_menu .menu_left {display: none;}
}

/* width : 0 ~ 960px */
@media (max-width:960px){
    /* 배너 반응형 */
    .banner_slide .swiper-container {height: 400px;}
    .banner_slide .swiper-slide .movie_description {margin-top: 170px;}
    .banner_slide .swiper-slide strong {font-size: 37px;}
    .banner_slide .swiper-slide em {font-size: 34px; margin-top: -10px; padding-bottom: 10px;}
    .banner_slide .swiper-slide p {font-size: 16px;}
}

/* width : 0 ~ 768px */
@media (max-width:768px){
    .row {padding: 0 16px;}

    /* 헤더 반응형 */
    .header h1 {text-align: left;}
    .header .header_nav {display: none;}
    .header h1 a img.logo-sub {display: none;}
    #hamNav {right: 6px;}
}

/* width : 0 ~ 600px */
@media (max-width:600px){

    /* 배너 반응형 */
    .banner_slide .swiper-container {height: 300px;}
    .banner_menu .menu_right ul:last-child li.box {
        margin-right: 10px;
        border: 1px solid #fff;
        background-color: rgba(0,0,0,0.5);
        transition: all 0.3s ease;
    }
    .banner_menu .menu_right ul:last-child li.box:last-child {
        margin-right: 0;
    }
    .banner_menu .menu_right ul:last-child li.box a {
        padding: 4px 6px;
        font-size: 14px; color: white;
    }
    .banner_menu .menu_right ul:last-child li.box a:hover {
        background: #fff; border-color: #000; color: #000;
    }

    .banner_slide .swiper-slide .movie_description {margin-top: 140px;}
    .banner_slide .swiper-slide strong {font-size: 24px;}
    .banner_slide .swiper-slide em {font-size: 21px; margin-top: -5px; padding-bottom: 5px;}
    .banner_slide .swiper-slide p {font-size: 14px;}
    
}

/* width : 0 ~ 480px */
@media (max-width:480px){

}

/* width : 0 ~ 320px */
@media (max-width:320px){

}